.ord-news-title a,
.ord-news-title a:visited {
  color: white;
}

.ord-news-title a:active,
.ord-news-title a:hover {
  color: #f27400;
  text-decoration: none;
}

.ord-news-body {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}

.ord-news-body h1,
.ord-news-body h2,
.ord-news-body h3,
.ord-news-body h4,
.ord-news-body h5 {
  line-height: 1;
}

.ord-news-body a,
.ord-news-body a:visited {
  background:
     linear-gradient(
       to bottom,
       #f27400 0%,
       #f27400 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #FFF;
  text-decoration: none;
  transition: background-size .2s;
}

.ord-news-body a:active,
.ord-news-body a:hover {
  color: white;
  background-size: 4px 50px;
  text-decoration: none;
}

.ord-news-body blockquote {
  color: var(--1btc-news-colors-gray-300);
  font-family: inherit;
}

.ord-news-body img {
  max-width: 75%;
  padding: 1rem;
  margin: 0 auto;
}